.input-text {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid;
    border-bottom-width: 1px;
}

.test-animation {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    -webkit-animation-name: animate;
}

.re-animation {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-name: re-animate;
    -webkit-animation-name: re-animate;
}

@-webkit-keyframes animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@-webkit-keyframes re-animate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes re-animate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}