.input-text {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid;
    border-bottom-width: 1px;
}

.hide {
    opacity: 0;
}

.test-animation {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-name: animate;
    -o-animation-name: animate;
    -webkit-animation-name: animate;
    animation-name: animate;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.re-animation {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: re-animate;
    -moz-animation-name: re-animate;
    -o-animation-name: re-animate;
    animation-name: re-animate;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@-webkit-keyframes re-animate {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes re-animate {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
