html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.left {
    float: left;
}

.right {
    margin-left: 100px;
}

.test-block {
    position: absolute;
    left: 1em;
    top: 1em;
    background-color: blue;
    width: 100px;
    height: 100px;
}

    .test-block.plat-transition-init {
        left: 10em;
        top: 10em;
    }

    .test-block.plat-transition {
        -moz-transition: all 500ms ease-out, top 1s ease-out;
        -webkit-transition: all 500ms ease-out, top 1s ease-out;
        transition: all 500ms ease-out, top 1s ease-out;
        left: 1em;
        top: 1em;
    }

.test .plat-enter-init {
    -moz-animation: FADEIN 2s;
    -o-animation: FADEIN 2s;
    -webkit-animation: FADEIN 2s;
    animation: FADEIN 2s;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.test .plat-leave {
    -moz-animation: FADEOUT 2s;
    -o-animation: FADEOUT 2s;
    -webkit-animation: FADEOUT 2s;
    animation: FADEOUT 2s;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes FADEIN {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FADEIN {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes FADEOUT {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes FADEOUT {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
